<a href="https://colab.research.google.com/github/AJLR888/hmda-ny-2007-loan-default/blob/main/ny_2007_data_preprocesing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Defining settings

In [ ]:
# Mount google drive
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
# Setting up GitHub
import os
import subprocess
from getpass import getpass #Secure token storage

# Importing working space
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#!git init #is for Google Colab environment, we should use "subprocess.run(["git", "init"])" which is more in line with PEP 8 doc. Style.
#We only use once "git init", when starting a new project. The purpose of this code is to create things related to the project in a .git directory in the project folder.
#subprocess.run(["git", "init"])

In [ ]:
# Username and email:
subprocess.run(["git", "config", "--global", "user.name", "AJLR888"], check=True)
subprocess.run(["git", "config", "--global", "user.email", "roldan.analytics@gmail.com"], check=True)


# Storing GitHub token and repository details
GITHUB_TOKEN = getpass("Enter GitHub Token:")
REPO_OWNER = "AJLR888"
REPO_NAME = "hmda-ny-2007-loan-default"
BRANCH_NAME = "main"

#Setting GitHub remot URL with authentcation
GIT_REMOTE_URL = f"https://{GITHUB_TOKEN}@github.com/{REPO_OWNER}/{REPO_NAME}.git"
os.system(f"git remote set-url origin {GIT_REMOTE_URL}")

Enter GitHub Token:··········

32768

# EDA

In [ ]:
# Loading the data
df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/hmda_2007_ny_all-records_labels.csv')

df = pd.DataFrame(df)

<ipython-input-5-7614b30a662a>:1: DtypeWarning: Columns (34,36,38,42,44,46,48) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/hmda_2007_ny_all-records_labels.csv')

## Taking a sample to understand the data structure

In [ ]:
# Taking the sample
df_sample = df.sample(n=12000, random_state=42)

# Dataset shape
print(df.shape, '\n')

(1009451, 78)

In [ ]:
# Checking null values per columns and the columns names
pd.set_option('display.max_rows', None)

print(df_sample.isnull().sum())

as_of_year                            0
respondent_id                         0
agency_name                           0
agency_abbr                           0
agency_code                           0
loan_type_name                        0
loan_type                             0
property_type_name                    0
property_type                         0
loan_purpose_name                     0
loan_purpose                          0
owner_occupancy_name                  0
owner_occupancy                       0
loan_amount_000s                      0
preapproval_name                      0
preapproval                           0
action_taken_name                     0
action_taken                          0
msamd_name                         1087
msamd                              1087
state_name                            0
state_abbr                            0
state_code                            0
county_name                          11
county_code                          11
census_tract_number                  15
applicant_ethnicity_name              0
applicant_ethnicity                   0
co_applicant_ethnicity_name           0
co_applicant_ethnicity                0
applicant_race_name_1                 0
applicant_race_1                      0
applicant_race_name_2             11965
applicant_race_2                  11965
applicant_race_name_3             11999
applicant_race_3                  11999
applicant_race_name_4             12000
applicant_race_4                  12000
applicant_race_name_5             12000
applicant_race_5                  12000
co_applicant_race_name_1              0
co_applicant_race_1                   0
co_applicant_race_name_2          11989
co_applicant_race_2               11989
co_applicant_race_name_3          12000
co_applicant_race_3               12000
co_applicant_race_name_4          11999
co_applicant_race_4               11999
co_applicant_race_name_5          12000
co_applicant_race_5               12000
applicant_sex_name                    0
applicant_sex                         0
co_applicant_sex_name                 0
co_applicant_sex                      0
applicant_income_000s              1078
purchaser_type_name                   0
purchaser_type                        0
denial_reason_name_1               9938
denial_reason_1                    9938
denial_reason_name_2              11581
denial_reason_2                   11581
denial_reason_name_3              11907
denial_reason_3                   11907
rate_spread                       11155
hoepa_status_name                     0
hoepa_status                          0
lien_status_name                      0
lien_status                           0
edit_status_name                   9633
edit_status                        9633
sequence_number                       0
population                           18
minority_population                  18
hud_median_family_income             18
tract_to_msamd_income                21
number_of_owner_occupied_units       32
number_of_1_to_4_family_units        43
application_date_indicator            0
dtype: int64

## Understanding each column name:
                            

1.   as_of_year: The year the mortgage was reported.
2.   respondent_id
3.   agency_name: The regulatory agency responsible for overseeing the financial institution that reported the mortgage.
4.   agency_abbr: Agency abrebiation name.

5.   agency_code:

6.   loan_type_name:The type of covered loan or application (if covered)

7.   property_type_name:

8.   List item

9.   List item

10.   List item

11.   List item

12.   List item

13.   List item
14.   List item


15.   List item


16.   List item


17.   List item


18.   List item


19.   List item


20.   List item


21.   List item






                         0
                           0
                           0
                           0
                        0
                             0
                    0
property_type                         0
loan_purpose_name                     0
loan_purpose                          0
owner_occupancy_name                  0
owner_occupancy                       0
loan_amount_000s                      0
preapproval_name                      0
preapproval                           0
action_taken_name                     0
action_taken                          0
msamd_name                         1087
msamd                              1087
state_name                            0
state_abbr                            0
state_code                            0
county_name                          11
county_code                          11
census_tract_number                  15
applicant_ethnicity_name              0
applicant_ethnicity                   0
co_applicant_ethnicity_name           0
co_applicant_ethnicity                0
applicant_race_name_1                 0
applicant_race_1                      0
applicant_race_name_2             11965
applicant_race_2                  11965
applicant_race_name_3             11999
applicant_race_3                  11999
applicant_race_name_4             12000
applicant_race_4                  12000
applicant_race_name_5             12000
applicant_race_5                  12000
co_applicant_race_name_1              0
co_applicant_race_1                   0
co_applicant_race_name_2          11989
co_applicant_race_2               11989
co_applicant_race_name_3          12000
co_applicant_race_3               12000
co_applicant_race_name_4          11999
co_applicant_race_4               11999
co_applicant_race_name_5          12000
co_applicant_race_5               12000
applicant_sex_name                    0
applicant_sex                         0
co_applicant_sex_name                 0
co_applicant_sex                      0
applicant_income_000s              1078
purchaser_type_name                   0
purchaser_type                        0
denial_reason_name_1               9938
denial_reason_1                    9938
denial_reason_name_2              11581
denial_reason_2                   11581
denial_reason_name_3              11907
denial_reason_3                   11907
rate_spread                       11155
hoepa_status_name                     0
hoepa_status                          0
lien_status_name                      0
lien_status                           0
edit_status_name                   9633
edit_status                        9633
sequence_number                       0
population                           18
minority_population                  18
hud_median_family_income             18
tract_to_msamd_income                21
number_of_owner_occupied_units       32
number_of_1_to_4_family_units        43
application_date_indicator            9

In [ ]:
# Data types
print(df_sample.dtypes)

as_of_year                          int64
respondent_id                      object
agency_name                        object
agency_abbr                        object
agency_code                         int64
loan_type_name                     object
loan_type                           int64
property_type_name                 object
property_type                       int64
loan_purpose_name                  object
loan_purpose                        int64
owner_occupancy_name               object
owner_occupancy                     int64
loan_amount_000s                    int64
preapproval_name                   object
preapproval                         int64
action_taken_name                  object
action_taken                        int64
msamd_name                         object
msamd                             float64
state_name                         object
state_abbr                         object
state_code                          int64
county_name                        object
county_code                       float64
census_tract_number               float64
applicant_ethnicity_name           object
applicant_ethnicity                 int64
co_applicant_ethnicity_name        object
co_applicant_ethnicity              int64
applicant_race_name_1              object
applicant_race_1                    int64
applicant_race_name_2              object
applicant_race_2                  float64
applicant_race_name_3              object
applicant_race_3                  float64
applicant_race_name_4              object
applicant_race_4                  float64
applicant_race_name_5              object
applicant_race_5                  float64
co_applicant_race_name_1           object
co_applicant_race_1                 int64
co_applicant_race_name_2           object
co_applicant_race_2               float64
co_applicant_race_name_3           object
co_applicant_race_3               float64
co_applicant_race_name_4           object
co_applicant_race_4               float64
co_applicant_race_name_5           object
co_applicant_race_5               float64
applicant_sex_name                 object
applicant_sex                       int64
co_applicant_sex_name              object
co_applicant_sex                    int64
applicant_income_000s             float64
purchaser_type_name                object
purchaser_type                      int64
denial_reason_name_1               object
denial_reason_1                   float64
denial_reason_name_2               object
denial_reason_2                   float64
denial_reason_name_3               object
denial_reason_3                   float64
rate_spread                       float64
hoepa_status_name                  object
hoepa_status                        int64
lien_status_name                   object
lien_status                         int64
edit_status_name                   object
edit_status                       float64
sequence_number                     int64
population                        float64
minority_population               float64
hud_median_family_income          float64
tract_to_msamd_income             float64
number_of_owner_occupied_units    float64
number_of_1_to_4_family_units     float64
application_date_indicator          int64
dtype: object

In [ ]:
# Checking content in the columns
pd.set_option('display.max_columns', None)
print(df_sample.head(5))

        as_of_year respondent_id                                  agency_name  \
400869        2007    0000018039                 Office of Thrift Supervision
25128         2007    0000501105                       Federal Reserve System
73622         2007    0001881185                       Federal Reserve System
637936        2007    4216200005  Department of Housing and Urban Development
570628        2007    56-0811711    Office of the Comptroller of the Currency

       agency_abbr  agency_code loan_type_name  loan_type  \
400869         OTS            4   Conventional          1
25128          FRS            2   Conventional          1
73622          FRS            2   Conventional          1
637936         HUD            7   Conventional          1
570628         OCC            1   Conventional          1

                                       property_type_name  property_type  \
400869  One-to-four family dwelling (other than manufa...              1
25128   One-to-four family dwelling (other than manufa...              1
73622   One-to-four family dwelling (other than manufa...              1
637936  One-to-four family dwelling (other than manufa...              1
570628  One-to-four family dwelling (other than manufa...              1

       loan_purpose_name  loan_purpose  \
400869     Home purchase             1
25128      Home purchase             1
73622        Refinancing             3
637936       Refinancing             3
570628       Refinancing             3

                              owner_occupancy_name  owner_occupancy  \
400869      Owner-occupied as a principal dwelling                1
25128       Owner-occupied as a principal dwelling                1
73622       Owner-occupied as a principal dwelling                1
637936  Not owner-occupied as a principal dwelling                2
570628      Owner-occupied as a principal dwelling                1

        loan_amount_000s               preapproval_name  preapproval  \
400869               114                 Not applicable            3
25128                 53  Preapproval was not requested            2
73622                 76                 Not applicable            3
637936               280                 Not applicable            3
570628               308                 Not applicable            3

                                  action_taken_name  action_taken  \
400869                              Loan originated             1
25128                               Loan originated             1
73622   Application denied by financial institution             3
637936        Application approved but not accepted             2
570628                              Loan originated             1

                                     msamd_name    msamd state_name  \
400869   New York, White Plains, Wayne - NY, NJ  35644.0   New York
25128               Buffalo, Niagara Falls - NY  15380.0   New York
73622               Buffalo, Niagara Falls - NY  15380.0   New York
637936  Poughkeepsie, Newburgh, Middletown - NY  39100.0   New York
570628   New York, White Plains, Wayne - NY, NJ  35644.0   New York

       state_abbr  state_code         county_name  county_code  \
400869         NY          36  Westchester County        119.0
25128          NY          36         Erie County         29.0
73622          NY          36         Erie County         29.0
637936         NY          36     Dutchess County         27.0
570628         NY          36        Bronx County          5.0

        census_tract_number applicant_ethnicity_name  applicant_ethnicity  \
400869                 63.0   Not Hispanic or Latino                    2
25128                  58.0   Not Hispanic or Latino                    2
73622                 159.0   Not Hispanic or Latino                    2
637936               1408.0   Not Hispanic or Latino                    2
570628                442.0       Hispanic or Latino                    1

       co_applicant_ethnicity_name  co_applicant_ethnicity  \
400869             No co-applicant                       5
25128              No co-applicant                       5
73622              No co-applicant                       5
637936             No co-applicant                       5
570628      Not Hispanic or Latino                       2

       applicant_race_name_1  applicant_race_1 applicant_race_name_2  \
400869                 Asian                 2                   NaN
25128                  White                 5                   NaN
73622                  White                 5                   NaN
637936                 White                 5                   NaN
570628                 White                 5                   NaN

        applicant_race_2 applicant_race_name_3  applicant_race_3  \
400869               NaN                   NaN               NaN
25128                NaN                   NaN               NaN
73622                NaN                   NaN               NaN
637936               NaN                   NaN               NaN
570628               NaN                   NaN               NaN

       applicant_race_name_4  applicant_race_4 applicant_race_name_5  \
400869                   NaN               NaN                   NaN
25128                    NaN               NaN                   NaN
73622                    NaN               NaN                   NaN
637936                   NaN               NaN                   NaN
570628                   NaN               NaN                   NaN

        applicant_race_5   co_applicant_race_name_1  co_applicant_race_1  \
400869               NaN            No co-applicant                    8
25128                NaN            No co-applicant                    8
73622                NaN            No co-applicant                    8
637936               NaN            No co-applicant                    8
570628               NaN  Black or African American                    3

       co_applicant_race_name_2  co_applicant_race_2 co_applicant_race_name_3  \
400869                      NaN                  NaN                      NaN
25128                       NaN                  NaN                      NaN
73622                       NaN                  NaN                      NaN
637936                      NaN                  NaN                      NaN
570628                      NaN                  NaN                      NaN

        co_applicant_race_3 co_applicant_race_name_4  co_applicant_race_4  \
400869                  NaN                      NaN                  NaN
25128                   NaN                      NaN                  NaN
73622                   NaN                      NaN                  NaN
637936                  NaN                      NaN                  NaN
570628                  NaN                      NaN                  NaN

       co_applicant_race_name_5  co_applicant_race_5 applicant_sex_name  \
400869                      NaN                  NaN               Male
25128                       NaN                  NaN             Female
73622                       NaN                  NaN             Female
637936                      NaN                  NaN               Male
570628                      NaN                  NaN             Female

        applicant_sex co_applicant_sex_name  co_applicant_sex  \
400869              1       No co-applicant                 5
25128               2       No co-applicant                 5
73622               2       No co-applicant                 5
637936              1       No co-applicant                 5
570628              2                  Male                 1

        applicant_income_000s  \
400869                  130.0
25128                    24.0
73622                    27.0
637936                  139.0
570628                  154.0

                                      purchaser_type_name  purchaser_type  \
400869  Loan was not originated or was not sold in cal...               0
25128                             Other type of purchaser               9
73622   Loan was not originated or was not sold in cal...               0
637936  Loan was not originated or was not sold in cal...               0
570628                            Other type of purchaser               9

       denial_reason_name_1  denial_reason_1 denial_reason_name_2  \
400869                  NaN              NaN                  NaN
25128                   NaN              NaN                  NaN
73622                   NaN              NaN                  NaN
637936                  NaN              NaN                  NaN
570628                  NaN              NaN                  NaN

        denial_reason_2 denial_reason_name_3  denial_reason_3  rate_spread  \
400869              NaN                  NaN              NaN          NaN
25128               NaN                  NaN              NaN          NaN
73622               NaN                  NaN              NaN          NaN
637936              NaN                  NaN              NaN          NaN
570628              NaN                  NaN              NaN          NaN

       hoepa_status_name  hoepa_status               lien_status_name  \
400869  Not a HOEPA loan             2  Secured by a subordinate lien
25128   Not a HOEPA loan             2        Secured by a first lien
73622   Not a HOEPA loan             2        Secured by a first lien
637936  Not a HOEPA loan             2        Secured by a first lien
570628  Not a HOEPA loan             2        Secured by a first lien

        lien_status           edit_status_name  edit_status  sequence_number  \
400869            2  Quality edit failure only          6.0           845868
25128             1                        NaN          NaN            16437
73622             1                        NaN          NaN           211165
637936            1                        NaN          NaN           432067
570628            1                        NaN          NaN            87290

        population  minority_population  hud_median_family_income  \
400869      5905.0            75.160004                   59500.0
25128       7776.0            10.940000                   59300.0
73622       4249.0             2.090000                   59300.0
637936      2811.0            13.200000                   76400.0
570628      3715.0            93.160004                   59500.0

        tract_to_msamd_income  number_of_owner_occupied_units  \
400869              80.709999                           374.0
25128               70.570000                          1728.0
73622              100.559998                          1045.0
637936             107.190002                           922.0
570628              88.959999                           438.0

        number_of_1_to_4_family_units  application_date_indicator
400869                          915.0                           0
25128                          3429.0                           0
73622                          1571.0                           0
637936                         1017.0                           0
570628                          948.0                           0

In [ ]:
# Statistics of numerical features
print(df.describe())

In [ ]:
# Checking unique values for categorical variables
categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns:
  print(f"Value counts for: {col}")
  print(df[col].value_counts(), "\n")

## Feature selection Part 1.
We are considering only single individuals hence we only consider "No Co-aplicant" records

In [ ]:
df = df[df['co_applicant_ethnicity_name'] == 'No co-applicant']

In [ ]:
print(df.dtypes)

as_of_year                          int64
respondent_id                      object
agency_name                        object
agency_abbr                        object
agency_code                         int64
loan_type_name                     object
loan_type                           int64
property_type_name                 object
property_type                       int64
loan_purpose_name                  object
loan_purpose                        int64
owner_occupancy_name               object
owner_occupancy                     int64
loan_amount_000s                    int64
preapproval_name                   object
preapproval                         int64
action_taken_name                  object
action_taken                        int64
msamd_name                         object
msamd                             float64
state_name                         object
state_abbr                         object
state_code                          int64
county_name                        object
county_code                       float64
census_tract_number               float64
applicant_ethnicity_name           object
applicant_ethnicity                 int64
co_applicant_ethnicity_name        object
co_applicant_ethnicity              int64
applicant_race_name_1              object
applicant_race_1                    int64
applicant_race_name_2              object
applicant_race_2                  float64
applicant_race_name_3              object
applicant_race_3                  float64
applicant_race_name_4              object
applicant_race_4                  float64
applicant_race_name_5              object
applicant_race_5                  float64
co_applicant_race_name_1           object
co_applicant_race_1                 int64
co_applicant_race_name_2           object
co_applicant_race_2               float64
co_applicant_race_name_3           object
co_applicant_race_3               float64
co_applicant_race_name_4           object
co_applicant_race_4               float64
co_applicant_race_name_5           object
co_applicant_race_5               float64
applicant_sex_name                 object
applicant_sex                       int64
co_applicant_sex_name              object
co_applicant_sex                    int64
applicant_income_000s             float64
purchaser_type_name                object
purchaser_type                      int64
denial_reason_name_1               object
denial_reason_1                   float64
denial_reason_name_2               object
denial_reason_2                   float64
denial_reason_name_3               object
denial_reason_3                   float64
rate_spread                       float64
hoepa_status_name                  object
hoepa_status                        int64
lien_status_name                   object
lien_status                         int64
edit_status_name                   object
edit_status                       float64
sequence_number                     int64
population                        float64
minority_population               float64
hud_median_family_income          float64
tract_to_msamd_income             float64
number_of_owner_occupied_units    float64
number_of_1_to_4_family_units     float64
application_date_indicator          int64
dtype: object

## Selection of relevant features

In [ ]:
df = df[[
    "loan_type_name",
    "property_type_name",
    "loan_purpose_name",
    "loan_amount_000s",
    "action_taken_name",
    "msamd_name",
    "census_tract_number",
    "applicant_ethnicity_name",
    "applicant_race_name_1",
    "applicant_sex_name",
    "applicant_income_000s",
    "denial_reason_name_1",
    "rate_spread",
    "lien_status_name",
    "hud_median_family_income",
    "tract_to_msamd_income"
]]

In [ ]:
print(df.dtypes)

loan_type_name               object
property_type_name           object
loan_purpose_name            object
loan_amount_000s              int64
action_taken_name            object
msamd_name                   object
census_tract_number         float64
applicant_ethnicity_name     object
applicant_race_name_1        object
applicant_sex_name           object
applicant_income_000s       float64
denial_reason_name_1         object
rate_spread                 float64
lien_status_name             object
hud_median_family_income    float64
tract_to_msamd_income       float64
dtype: object

In [ ]:
print(df.shape)

(601274, 16)

In [ ]:
print(df.describe())

       loan_amount_000s  census_tract_number  applicant_income_000s  \
count     601274.000000        600501.000000          558351.000000
mean         257.485403          1434.016365             115.918044
std          425.800429          2516.739575             215.812326
min            1.000000             1.000000               1.000000
25%           76.000000           132.000000              50.000000
50%          176.000000           374.000000              80.000000
75%          368.000000          1351.010000             123.000000
max        93000.000000          9929.000000            9999.000000

        rate_spread  hud_median_family_income  tract_to_msamd_income
count  46312.000000             600473.000000          600246.000000
mean       5.119319              66569.953853             106.660651
std        1.658133              14311.443551              46.883337
min        3.000000              50900.000000               5.050000
25%        3.550000              59500.000000              80.820000
50%        5.020000              59500.000000              98.709999
75%        6.370000              66300.000000             120.849998
max       17.960000              93800.000000             404.359985

# Data Cleaning

In [ ]:
categorical_columns = df.select_dtypes(include=['object']).columns
for col in categorical_columns:
  print(f"Value counts for: {col}")
  print(df[col].value_counts(), "\n")

Value counts for: loan_type_name
loan_type_name
Conventional          579399
FHA-insured            19791
VA-guaranteed           1697
FSA/RHS-guaranteed       387
Name: count, dtype: int64

Value counts for: property_type_name
property_type_name
One-to-four family dwelling (other than manufactured housing)    590101
Manufactured housing                                               7094
Multifamily dwelling                                               4079
Name: count, dtype: int64

Value counts for: loan_purpose_name
loan_purpose_name
Refinancing         288173
Home purchase       237915
Home improvement     75186
Name: count, dtype: int64

Value counts for: action_taken_name
action_taken_name
Loan originated                                        231939
Application denied by financial institution            179429
Application withdrawn by applicant                      61678
Application approved but not accepted                   56103
Loan purchased by the institution                       50906
File closed for incompleteness                          21192
Preapproval request denied by financial institution        25
Preapproval request approved but not accepted               2
Name: count, dtype: int64

Value counts for: msamd_name
msamd_name
New York, White Plains, Wayne - NY, NJ     245728
Nassau, Suffolk - NY                       117608
Rochester - NY                              35295
Buffalo, Niagara Falls - NY                 33734
Albany, Schenectady, Troy - NY              33398
Poughkeepsie, Newburgh, Middletown - NY     27790
Syracuse - NY                               22488
Utica, Rome - NY                             9763
Binghamton - NY                              7634
Kingston - NY                                7037
Glens Falls - NY                             5924
Elmira - NY                                  2715
Ithaca - NY                                  1986
Name: count, dtype: int64

Value counts for: applicant_ethnicity_name
applicant_ethnicity_name
Not Hispanic or Latino                                                               426934
Information not provided by applicant in mail, Internet, or telephone application    100862
Hispanic or Latino                                                                    59335
Not applicable                                                                        14143
Name: count, dtype: int64

Value counts for: applicant_race_name_1
applicant_race_name_1
White                                                                                357942
Information not provided by applicant in mail, Internet, or telephone application    106500
Black or African American                                                             82337
Asian                                                                                 33437
Not applicable                                                                        13785
American Indian or Alaska Native                                                       3668
Native Hawaiian or Other Pacific Islander                                              3605
Name: count, dtype: int64

Value counts for: applicant_sex_name
applicant_sex_name
Male                                                                                 310011
Female                                                                               225408
Information not provided by applicant in mail, Internet, or telephone application     51960
Not applicable                                                                        13895
Name: count, dtype: int64

Value counts for: denial_reason_name_1
denial_reason_name_1
Credit history                                    29112
Credit application incomplete                     22203
Other                                             22052
Debt-to-income ratio                              21931
Collateral                                        19741
Unverifiable information                           8781
Insufficient cash (downpayment, closing costs)     1955
Employment history                                 1231
Mortgage insurance denied                           101
Name: count, dtype: int64

Value counts for: lien_status_name
lien_status_name
Secured by a first lien          437111
Secured by a subordinate lien     89827
Not applicable                    50906
Not secured by a lien             23430
Name: count, dtype: int64

## Excluding: irrelevant records from the following columns:

*   applicant_ethnicity_name
*   applicant_race_name_1
*   applicant_sex_name
*   action_taken_name

In [ ]:
df = df[
    ~df["action_taken_name"].isin([
        "File closed for incompleteness",
        "Preapproval request denied by financial institution",
        "Preapproval request approved but not accepted",
        "Application withdrawn by applicant"
    ]) &
    ~df["applicant_ethnicity_name"].isin([
        "Information not provided by applicant in mail, Internet, or telephone application",
        "Not applicable"
    ]) &
    ~df["applicant_race_name_1"].isin([
        "Information not provided by applicant in mail, Internet, or telephone application",
        "Not applicable"
    ]) &
    ~df["applicant_sex_name"].isin([
        "Information not provided by applicant in mail, Internet, or telephone application",
        "Not applicable"
    ])
]

In [ ]:
print(df.shape)

(410858, 16)

## Addressing missing values

In [ ]:
print(df.isnull().sum())

loan_type_name                   0
property_type_name               0
loan_purpose_name                0
loan_amount_000s                 0
action_taken_name                0
msamd_name                   36465
census_tract_number            483
applicant_ethnicity_name         0
applicant_race_name_1            0
applicant_sex_name               0
applicant_income_000s        22625
denial_reason_name_1        313621
rate_spread                 372712
lien_status_name                 0
hud_median_family_income       508
tract_to_msamd_income          638
dtype: int64

In [ ]:
df = df.assign(
    msamd_name=df['msamd_name'].fillna("Unknown"),
    denial_reason_name_1=df['denial_reason_name_1'].fillna("Unknown"),
    rate_spread=df['rate_spread'].fillna(0)
)

df = df.dropna(subset=['hud_median_family_income', 'tract_to_msamd_income', 'applicant_income_000s'])

In [ ]:
print(df.shape)
print(df.isnull().sum())

(387610, 16)
loan_type_name              0
property_type_name          0
loan_purpose_name           0
loan_amount_000s            0
action_taken_name           0
msamd_name                  0
census_tract_number         0
applicant_ethnicity_name    0
applicant_race_name_1       0
applicant_sex_name          0
applicant_income_000s       0
denial_reason_name_1        0
rate_spread                 0
lien_status_name            0
hud_median_family_income    0
tract_to_msamd_income       0
dtype: int64

# Creation of new columns

## ethnicity_race_sex

In [ ]:

df['ethnicity_race_sex'] = df['applicant_ethnicity_name'].str.lower() + "_" + df['applicant_race_name_1'].str.lower() + "_" + df['applicant_sex_name'].str.lower()

# Checking column created
print(df[['ethnicity_race_sex']].value_counts())

ethnicity_race_sex
not hispanic or latino_white_male                                          152266
not hispanic or latino_white_female                                         99758
not hispanic or latino_black or african american_female                     33890
not hispanic or latino_black or african american_male                       27917
hispanic or latino_white_male                                               23592
not hispanic or latino_asian_male                                           16565
hispanic or latino_white_female                                             14471
not hispanic or latino_asian_female                                         10629
not hispanic or latino_american indian or alaska native_male                 1325
hispanic or latino_black or african american_male                            1199
not hispanic or latino_native hawaiian or other pacific islander_male        1152
hispanic or latino_black or african american_female                          1089
not hispanic or latino_native hawaiian or other pacific islander_female       919
not hispanic or latino_american indian or alaska native_female                862
hispanic or latino_native hawaiian or other pacific islander_male             557
hispanic or latino_american indian or alaska native_male                      459
hispanic or latino_native hawaiian or other pacific islander_female           299
hispanic or latino_american indian or alaska native_female                    277
hispanic or latino_asian_male                                                 227
hispanic or latino_asian_female                                               157
Name: count, dtype: int64

In [ ]:
print("541565")

541565

In [ ]:
print("0021325")

0021325

# Commit to GitHub


The code below will help us to commit our project onto GitHub:

In [ ]:
os.chdir("/content/drive/My Drive/Colab Notebooks/hmda_ny_2007_preprocessing/") #First we call our project's location using we use os.chdir() instead of %cd because
                                                                                #the first option is the better choice for code that needs to be portable and run in different environments
                                                                                #and we are trying to replicate a working environment.

#Source: https://www.tutorialspoint.com/python/os_chdir.htm

In [ ]:
#We use subprocess.run(["git", "status"]) instead of "!git status" (Google Colab) for a PEP-8.
result = subprocess.run(["git", "status"], capture_output=True, text=True) # The following helps us to "capture the results"; capture_output=True, text=True

print(result.stdout)  # Print the status message
print(result.stderr)  # Print errors if there are any.

On branch master
Changes not staged for commit:
  (use "git add <file>..." to update what will be committed)
  (use "git restore <file>..." to discard changes in working directory)
	modified:   ny-2007-data-preprocesing.ipynb

no changes added to commit (use "git add" and/or "git commit -a")

In [ ]:
subprocess.run(["git", "add", "."], check=True) #!git add . |/| We use "check=True" to ensure that if there are any error, they will be shown.

CompletedProcess(args=['git', 'add', '.'], returncode=0)

In [ ]:
subprocess.run(["git", "commit", "-m", "Updating-21:05-20032025"], check=True) #Google Colab: !git commit -m "Updating"

CompletedProcess(args=['git', 'commit', '-m', 'Updating10:20-16032025'], returncode=0)

In [ ]:
# ERROR, NEED TO FIX: subprocess.run(["git", "push", "origin", "master"], check=True) #!git push origin main #gave error, solution !git config --global credential.helper store

In [ ]:
subprocess.run(args=['git', 'branch'], check=True)

* master

In [ ]:
logStatus = subprocess.run(["git", "log"], capture_output=True, text=True, check=True) #Google Colab: !git log
print(logStatus.stdout) #Shows output
print(logStatus.stderr) #Shows errors

commit 3c9d2766364bfb3617c9a311742c26f18461db5e
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sun Mar 16 10:21:19 2025 +0000

    Updating10:20-16032025

commit 7a277871e6a4326cefb4c4e12992b04615fdbb6d
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sun Mar 16 10:19:04 2025 +0000

    Updating1412-15032025

commit c75bc5b5e448ae2ddf6b9a1baf0728a665f3131f
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sat Mar 15 14:29:55 2025 +0000

    Updating1412-15032025

commit f81fdc41532adddf2127dc0d8edd32302a439d01
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sat Mar 15 14:28:42 2025 +0000

    Updating1412-15032025

commit d26c1d090a36da8442dc879eccc1c4a8093ec5de
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sat Mar 15 14:21:27 2025 +0000

    Updating1412-15032025

commit b8344c24bb282514801ae50f97da54795668f2b3
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sat Mar 15 14:18:28 2025 +0000

    Updating1412-15032025

commit e4643bc991934b6589d40ae8770748ee8d5f7069
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sat Mar 15 14:14:14 2025 +0000

    Force pushing after reinitializing repository

commit 86dfbcbb6329ea9463d38068dc9fcdccf204bc99
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sat Mar 15 14:12:35 2025 +0000

    Updating1412-15032025

commit d38a61973dfd046de8599116b795d9e743730e5b
Author: AJLR888 <roldan.analytics@gmail.com>
Date:   Sat Mar 15 14:05:21 2025 +0000

    Updating